* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: white;
    color: black;
    -webkit-overflow-scrolling: touch;    
}
p {
  font-family: 'Istok Web', sans-serif;
  font-size: 1.1em;
  line-height: 1.2em;
}
h1 {
  font-family: 'Istok Web', sans-serif;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0em;
  font-style: italic;
}

.breadcrumbFormat {
  margin-left: 20px;
}

.roundedImage {
  border: 1px solid black;
  border-radius: $global-radius;
  box-shadow: 3px 3px 3px $dark-gray;
  padding: 5px;
}

.profileImage {
  @extend .roundedImage;
  margin-bottom: 10px;
}

.row {
    background: white;
}

.sidebar {
    margin-left: 15px;
}
.main-area {
    padding-left: 15px;
}

.mainSubTitle {
  padding-left: 7px;  
}

.contentText {
  overflow-y: hidden;
}

.insetContent {
    padding-left: 15px; 
    padding-right: 15px; 
}

@media #{$small-only} {
  .columns {
      padding-left: 0;
      padding-right: 0;
  }

  .main-area {
      padding-left: 0;
      padding-right: 0;
  }


}

