
<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <div class="off-canvas position-left reveal-for-large sidebar" id="my-info" data-off-canvas data-position="left">
      <div class="row column">
        <br>
        <img class="thumbnail" src="assets/img/profile-photo.jpg">
        <h5>Matt Mazur</h5>
        <p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo.</p>
      </div>
    </div>

    <div class="off-canvas-content main-area" data-off-canvas-content>
      <div class="title-bar hide-for-large">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-open="my-info"></button>
          <span class="title-bar-title">Matt Mazur</span>
        </div>
      </div>
      <div class="callout secondary top-title">
        <div class="row column top-title">
          <h1>Portfolio</h1>
          <p class="lead">The online portfolio of Matt Mazur.</p>
        </div>
      </div>
      <div class="row small-up-2 medium-up-3 large-up-4 thumbnail-blocks column">
        <h3>Javascript</h3>
        <h6>Full-stack website development with Javascript frameworks.</h6>
      </div>
      <div class="row small-up-2 medium-up-3 large-up-4 thumbnail-blocks">
        <div class="column">
          <a class="th" href="http://52.10.148.188:3300"><img class="thumbnail" src="assets/img/project-thumb-multiverse-browser.jpg"></a>
          <h6>Galaxy Browser</h6>
        </div>
        <div class="column">
          <a class="th" href="http://52.10.148.188:3400"><img class="thumbnail" src="assets/img/project-thumb-VJ-controller.jpg"></a>
          <h6>iPad Controller</h6>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h6>Sketcher</h6>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h6>* this website</h6>
        </div>
      </div>
      <div class="row small-up-2 medium-up-3 large-up-4 thumbnail-blocks column">
      </br>
        <h3>Illustration & Artwork</h3>
      </div>
      <div class="row small-up-2 medium-up-3 large-up-4 thumbnail-blocks">
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h6>My Site</h6>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h6>My Site</h6>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h6>My Site</h6>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h6>My Site</h6>
        </div>
      </div>
      <div class="row small-up-2 medium-up-3 large-up-4 thumbnail-blocks column">
      </br>
        <h3>Other Programming</h3>
      </div>
      <div class="row small-up-2 medium-up-3 large-up-4 thumbnail-blocks">
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h6>My Site</h6>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h6>My Site</h6>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h6>My Site</h6>
        </div>
        <div class="column">
          <img class="thumbnail" src="http://placehold.it/550x550">
          <h6>My Site</h6>
        </div>
      </div>

      <hr>

      <div class="row contact-section">
        <div class="medium-6 columns">
          <h3>Contact Me</h3>
          <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor.</p>
          <ul class="menu">
            <li><a href="http://www.linkedin.com/in/mattmazurprofile" target="_blank">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/vj.elfmaster" target="_blank">Facebook</a></li>
            <li><a href="https://github.com/extragalactic" target="_blank">GitHub</a></li>
          </ul>
        </div>
        <div class="medium-6 columns">
          <label>Name
            <input type="text" placeholder="Name">
          </label>
          <label>Email
            <input type="text" placeholder="Email">
          </label>
          <label>
            Message
            <textarea placeholder="holla at a designerd"></textarea>
          </label>
          <input type="submit" class="button expanded" value="Submit">
        </div>
      </div>
    </div>
  </div>
</div>
