<div class="row colum">
  <ul class="breadcrumbs breadcrumbFormat">
    <li><a href="#">Projects</a></li>
    <li>{{category}}</li>
    <li>{{projectName}}</li>
  </ul>
</div>
<div class="row" id="projectDetailsMain">
  <div class="medium-6 columns">
    <img class="roundedImage projectMainImage" src="{{imageURL}}">
    <div class="row column">
    </div>
  </div>
  <div class="medium-6 large-6 columns">
    <h3>{{projectName}}</h3>
    <p class="contentText">{{description}}</p>
    <h4>Created with:
      <span ng-repeat="name in technologies">{{name}}{{$last ? '':', '}}</span>
    </h4>
    <div id="websiteButton">
      <a href="{{websiteURL}}" target="_blank" class="mybutton hvr-outline-out">Website</a>
    </div>
  </div>
</div>
