

body {
    background: white;
    color: black;
}
p {
  font-family: 'Istok Web', sans-serif;
  font-size: 1.1em;
  line-height: 1.2em;
}
h1 {
  font-family: 'Istok Web', sans-serif;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0em;
  font-style: italic;
}


.row {
    background: white;
}

.sidebar {
    margin-left: 15px;
}
.main-area {
    padding-left: 15px;
}
